<!doctype html>
<html lang="en">
<head>
<title>metrixjs debug app</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<style>
  tr {
    border-bottom: 1px solid #ddd;
  }
  td, th {
    padding: 0.5em;
    border-right: 1px solid #ddd;
  }
</style>
</head>
<body>

<div id="app">
  <fingerprint inline-template>
    <fieldset id="fingerprint">
      <legend>Fingerprint</legend>
      User: <span>{{ username }}</span><br>
      Client ID: <span>{{ cid }}</span><br>
      Session ID: <span>{{ sid }}</span><br>
      Session QS: <span>{{ sqs }}</span><br>
    </fieldset>
  </fingerprint>

  <default-payload-values inline-template>
    <fieldset id="default-payload-values">
      <legend>Default Payload Values</legend>
      HubID: <input type="number" v-model="hub_id"><br>
      PostID: <input type="number" v-model="post_id"><br>
      AccountID: <input type="number" v-model="account_id"><br>
      ObjectID: <input type="number" v-model="object_id"><br>
      CollectionID: <input type="number" v-model="collection_id"><br>
    </fieldset>
  </default-payload-values>

  <actions inline-template>
    <fieldset id="actions">
      <legend>Actions</legend>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>module</th>
            <th>event</th>
            <th>required</th>
            <th>optional</th>
            <th>extra (both req and opt)</th>
            <th>db table</th>
            <th>comments</th>
          </tr>
        </thead>
        <tbody>
        <template v-for="(actionValue, actionKey) in actions">
          <tr>
            <td><button @click="triggerMetric(actionKey)">{{ actionKey }}</button></td>
            <td>{{ actionValue[0] }}</td>
            <td>{{ actionValue[1] }}</td>
            <td>{{ actionValue[2] }}</td>
            <td>{{ actionValue[3] }}</td>
            <td>{{ actionValue[4] }}</td>
            <td>{{ actionValue[5] }}</td>
            <td>{{ actionValue[6] }}</td>
          </tr>
        </template>
        </tbody>
      </table>
    </fieldset>
  </actions>
</div>

</body>
</html>
